
.card {
  background-color: white;
  border-radius: 1rem;
}

.btn-outline-secondary {
  font-size: 0.875rem;
  padding: 0.375rem 0.75rem;
}

.btn-light {
  font-size: 0.75rem;
}

.badge {
  font-size: 0.875rem;
  border-radius: 999px;
}
